
body{
background-color:tan;
}

.most_back{
    background-color: #ffffff;
    width: 80%;
    height: 600px;
    position: absolute;
    left: 10%;
    top: 200px;

}


.me_header{
    color:white;
    background-color: #4aaaa5;
    border-color: #4aaaa5;
    border-width: 5px;
    border-style: solid;
    text-align: center;
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    width: 10%;
    padding: 25px;
    position: absolute;
    left: 20%;
    top: 63px;  
}
.about_me{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    position: absolute;
    left:15%;
    top: 180px; 
    text-align: start;
    color: #4aaaa5;
    height: 90px;
    width: 70%;
    border-bottom: #2dafe2;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}
.about_me_text{
    position: relative;
    left:7.5%;
}
.contact{
    height:20px ;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    top: 50px;
    right: 300px;
    z-index: 12;
    position: absolute;
    top: 130px;
}
.portfolio{
    height:20px ;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    top: 50px;
    right: 200px;
    z-index: 12;
    position: absolute;
    top: 130px;
}
.index{
    height:20px ;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    top: 50px;
    right: 100px;
    z-index: 12;
    position: absolute;
    top: 130px;
}
.headback{

    width: 100%;
    background-color: #ffffff;
    padding: 80px;
    position: absolute;
    top: 0%;
    left: 0;
    z-index: 10;
    border-color: #ffffff;
    border-bottom-color: #4aaaa5;
    border-style: solid;
    border-bottom-width: 3px;
    
}

.abt{
    float: right;
    position: absolute;
    right:7%;
    top:260px;
    width: 50%;
    height: 250px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4aaaa5;
    line-height: 70px;
}

.abt_text{
    position: relative;
    right: 10%;
}
.abt_text2{
    position: absolute;
    left: 15%;
    bottom: 15%;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    color: #4aaaa5;
    line-height: 70px;
}

.pic{
    border-style: solid;
    border-color: #2dafe2;
    border-width: 5px;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    position: absolute;
    left: 18%;
    top: 300px;  
}



.about{
position: absolute;
right: 80px;
top:300px;
}

.copyright{
    position: absolute;
    left: 0;
    bottom: 0;
    border-width: 5px;
    border-top-color: #4aaaa5;
    padding: 0%;
    text-align: center;
    background-color: #666666;
    width: 100%;
    height: 50px;
    font-family: Arial, Arial, Helvetica, sans-serif;
    color: #ffffff;
}
